section.story
  .container
    +blockBox("Our stories","Latest blog")
    ul.story-list
      +storyItem("./images/img-blog1.png",15,"Jan")
      +storyItem("./images/img-blog2.png",26,"Oct")
      +storyItem("./images/img-blog3.png",28,"May")
section.map
  .container
    .map-content
      img.map-icon(src="./images/img-map-icon.png")
      h2.map-heading Open Map