section.wedo
  .container
    +blockBox("Service","What we do","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
    .wedo-container
      img(src="../images/img-wedo.png").wedo-image
      .wedo-content
        +wedoItem("../images/img-wedo-icon1.png","Photography","Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error", "is-active")
        +wedoItem("../images/img-wedo-icon2.png","Creativity","Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error")
        +wedoItem("../images/img-wedo-icon3.png","Web Design","Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error pariatur quidem a ipsum itaque accusamus, deleniti nobis hic tempore culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis qui est quis itaque. Quos, laborum, fugiat voluptatem ratione error")

      //- accordion