section.work
  .container
    +blockBox("What we do","Some of our work","Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")
  .work-grid
    +workItem("./images/img-work1.png", "fa fa-home"," Creativity designed","Lorem ipsum dolor sit")
    +workItem("./images/img-work2.png", "fa fa-fog"," Creativity designed","Lorem ipsum dolor sit")
    +workItem("./images/img-work3.png", "fa fa-user"," Creativity designed","Lorem ipsum dolor sit")
    +workItem("./images/img-work4.png", "fa fa-phone"," Creativity designed","Lorem ipsum dolor sit")
    +workItem("./images/img-work5.png", "fa fa-laptop"," Creativity designed","work-item--full","Lorem ipsum dolor sit")
    +workItem("./images/img-work6.png", "fa fa-keyboard"," Creativity designed","Lorem ipsum dolor sit")
    +workItem("./images/img-work7.png", "fa fa-water"," Creativity designed","Lorem ipsum dolor sit")
  //- .work-list
  //-   .work-column
  //-     +workItem("./images/img-work1.png", "fa fa-home"," Creativity designed","Lorem ipsum dolor sit")
  //-     +workItem("./images/img-work2.png", "fa fa-fog"," Creativity designed","Lorem ipsum dolor sit")
  //-   .work-column
  //-     +workItem("./images/img-work3.png", "fa fa-user"," Creativity designed","Lorem ipsum dolor sit")
  //-     +workItem("./images/img-work4.png", "fa fa-phone"," Creativity designed","Lorem ipsum dolor sit")
  //-   .work-column
  //-     +workItem("./images/img-work5.png", "fa fa-laptop"," Creativity designed","work-item--full","Lorem ipsum dolor sit")
  //-   .work-column
  //-     +workItem("./images/img-work6.png", "fa fa-keyboard"," Creativity designed","Lorem ipsum dolor sit")
  //-     +workItem("./images/img-work7.png", "fa fa-water"," Creativity designed","Lorem ipsum dolor sit")